
a{
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 10px;
    border-radius: 100px;
    border: 2px solid #006bae;
    background: #00aeff;
    text-align: center;
    text-decoration: none;
    color: #4163ae;
    transition: all .2s;
}
.effect3 {
    box-shadow: 0 0 0 0 #FFF, 0 0 0 0 #00b3ff, 0 0 0 0 #FFF, 0 0 0 0 #0461ae;
}

.effect3:hover {
    box-shadow: 0px 0 0 0 #FFF,  0px 0 0 1px #0065ae;
}
.effect3:active {
    box-shadow: 0px 0 0 2px #FFF, 0px 0 0 1px #00aeab;
    background-color: #FFF;
}
.effect3:active i {
    color: #001bae;
}
