html,body{
    font-family: "PingFang SC", "Microsoft YaHei";
    height:95%;
}

.container {
    padding: 2.5%;
    height: 95%;
}
.left-panel{
    float:left;
    width:300px;
}
.center-panel{
    float:left;
    width:600px;
}
.right-panel{
    overflow:hidden;
    overflow-y:scroll;
    height: 100%;
    max-height: 100%
}
.floor-number{
    float:left;
    width: 20px;
    line-height: 20px;
}

.up-button, .down-button {
    font-size: 14px;
    width: 20px;
    padding-left:3px;
    padding-right: 3px;
    margin: 2px;
    height: 20px;
    border-radius: 50%;
    background-color: darkturquoise;
}
.up-button:hover, .down-button:hover {
    background-color: black;
    color: darkturquoise;
}
.up-button:active, .down-button:active {
    margin-left: 3px;
    margin-right: 1px;
    background-color: darkslategrey;
    color: darkturquoise;
}


